.frameChild {
  height: 96px;
  width: 1248px;
  position: relative;
  box-shadow: -6.2px -6.2px 18.67px rgba(176, 179, 181, 0.3),
    6.2px 6.2px 18.67px #000;
  border-radius: 24.89px;
  background-color: var(--color-darkslategray-200);
  display: none;
  max-width: 100%;
}
.elementStyle2Button,
.messageChild {
  height: 33.6px;
  width: 46.1px;
  position: relative;
  display: none;
}
.messageChild {
  height: 49.9px;
  width: 212.8px;
  box-shadow: -6.2px -6.2px 18.67px #3b4451, 6.2px 6.2px 18.67px #000;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-200);
}
.lawyers {
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 116px;
}
.hovertext {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 0;
  z-index: 1;
}
.hovertext,
.message,
.messageWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.message {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-27xl-7) var(--padding-5xs-9);
  background-color: var(--color-darkslategray-200);
  box-shadow: -6.2px -6.2px 18.67px #3b4451, 6.2px 6.2px 18.67px #000;
  border-radius: var(--br-26xl);
  flex-direction: row;
  z-index: 1;
}
.messageWrapper {
  flex: 0.973;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-10xl-8) 0 0;
  box-sizing: border-box;
  min-width: 158px;
}
.dashboardChild {
  height: 50.6px;
  width: 212.8px;
  position: relative;
  box-shadow: -6.2px -6.2px 6.22px #3b4451 inset, 3.7px 3.7px 6.22px #000 inset;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-200);
  display: none;
}
.lawyer {
  position: relative;
  font-size: var(--font-size-9xl);
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-burlywood-100);
  text-align: left;
  min-width: 106px;
  z-index: 1;
}
.dashboard,
.dashboardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs-2) var(--padding-34xl-1) var(--padding-4xs-4)
    var(--padding-34xl-7);
  background-color: var(--color-darkslategray-200);
  box-shadow: -6.2px -6.2px 6.22px #3b4451 inset, 3.7px 3.7px 6.22px #000 inset;
  border-radius: var(--br-26xl);
  flex-direction: row;
  z-index: 1;
}
.dashboard:hover {
  background-color: var(--color-dimgray);
}
.dashboardWrapper {
  flex: 0.9986;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-5xl-2) 0 0;
  box-sizing: border-box;
  min-width: 154px;
}
.helpChild {
  height: 49.9px;
  width: 212.8px;
  position: relative;
  box-shadow: -6.2px -6.2px 18.67px #3b4451, 6.2px 6.2px 18.67px #000;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-200);
  display: none;
}
.lawyers1 {
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 118px;
}
.hovertext1 {
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  z-index: 1;
}
.help,
.helpWrapper,
.hovertext1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.help {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-27xl-7) var(--padding-5xs-9);
  background-color: var(--color-darkslategray-200);
  box-shadow: -6.2px -6.2px 18.67px #3b4451, 6.2px 6.2px 18.67px #000;
  border-radius: var(--br-26xl);
  flex-direction: row;
  z-index: 1;
}
.helpWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-4xl-9) 0 0;
  box-sizing: border-box;
  min-width: 154px;
}
.helpItem {
  height: 49.9px;
  width: 212.8px;
  position: relative;
  box-shadow: -6.2px -6.2px 18.67px #3b4451, 6.2px 6.2px 18.67px #000;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-200);
  display: none;
}
.lawyers2 {
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 122px;
}
.hovertext2 {
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
  z-index: 1;
}
.help1,
.helpContainer,
.hovertext2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.help1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-20xl) var(--padding-5xs-9);
  background-color: var(--color-darkslategray-200);
  box-shadow: -6.2px -6.2px 18.67px #3b4451, 6.2px 6.2px 18.67px #000;
  border-radius: var(--br-26xl);
  flex-direction: row;
  z-index: 1;
}
.helpContainer {
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-lgi-2) 0 0;
}
.lockBtnIcon {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.881);
}
.wrapperLockBtn {
  width: 58px;
  height: 58px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperLockBtnWrapper {
  height: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.lockBtnIcon1 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.881);
}
.wrapperLockBtn1 {
  height: 58px;
  width: 58px;
  position: relative;
  min-height: 58px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent {
  position: absolute;
  top: 95px;
  left: 290px;
  box-shadow: -6.2px -6.2px 18.67px rgba(176, 179, 181, 0.3),
    6.2px 6.2px 18.67px #000;
  border-radius: 24.89px;
  background-color: var(--color-darkslategray-200);
  width: 1248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-12xl) var(--padding-lg)
    var(--padding-23xl-7);
  box-sizing: border-box;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.frameItem,
.introduction {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.frameItem {
  width: 1063px;
  height: 921px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2),
    9px 9px 19px -5px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-11xl);
  background: linear-gradient(180deg, #373540, #16171b);
  display: none;
}
.introduction {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.introductionWrapper {
  width: 511px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.description {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.daveDuggalIsOneOfTheTopWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 5px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: medium;
  color: var(--color-white);
}
.tertiaryEducation {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.tertiaryEducationWrapper {
  width: 511px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.bachelorOfLaws {
  width: 961px;
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 112px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  font-size: large;
}
.professionalQualification {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.professionalQualificationWrapper {
  width: 511px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-46xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -51px;
}
.admittedToThe,
.advocateSolicitor,
.barristerAtLawAdmittedAs {
  margin: 0;
}
.barristerAtLawAdmittedAsContainer {
  position: relative;
  z-index: 1;
}
.barristerAtLawAdmittedAsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 88px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -51px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.consultationFees {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.consultationFeesWrapper {
  width: 511px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-46xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -51px;
}
.rm200PerHour {
  width: 961px;
  height: 133px;
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
  margin-top: -51px;
}
.secondaryButtonInstance {
  height: 95.6px;
  flex: 1;
  position: relative;
  box-shadow: 8px 8px 50px rgba(255, 255, 255, 0.25), 7px 7px 10px #000 inset;
  border-radius: var(--br-71xl);
  background: linear-gradient(139.21deg, #1b1b1b, rgba(135, 134, 134, 0));
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.secondarybutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20.2px 63.6px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.bookForConsultation {
  margin: 0;
  position: absolute;
  top: 29px;
  left: 83px;
  font-size: large;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 414px;
  height: 73px;
  z-index: 1;
}
.secondarybuttonParent {
  height: 158px;
  width: 562px;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  z-index: 1;
}
.frameWrapper,
.section {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  /* padding: 0 0 0 var(--padding-12xs); */
  margin-top: -51px;
  text-align: center;
  color: var(--color-white);
}
.rectangleGroup {
  /* position: absolute; */
  /* top: 287px;
  left: 583px; */
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2),
    9px 9px 19px -5px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-11xl);
  background: linear-gradient(180deg, #373540, #16171b);
  /* width: 1063px; */
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-14xl) 44px 0;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-burlywood-200);
  font-family: var(--font-jacques-francois);
}
.wrapperGroup46Child {
  width: 100%;
  max-width: 150px;
  position: relative;

  /* object-fit: contain; */
}
.align {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;

}

.containerr {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.daveDuggal {
  /* margin: 0; */
  font-size: x-large;
  /* line-height: 28px; */
  font-family: inherit;
  /* width: 315px;
  height: 28px; */
}
.mailIcon,
.phoneIcon {
  position: absolute;
  top: 798px;
  left: 268px;
  width: 18.6px;
  height: 19px;
  overflow: hidden;
}
.phoneIcon {
  top: 796px;
  left: 90px;
  width: 19.5px;
  height: 20px;
}
.dave8hotmailcom,
.rajaDarryl {
  margin: 0;
  white-space: pre-wrap;
}
.textContainer {
  font-size: large;
  font-family: var(--font-jacques-francois);
  z-index: 2;
}
.lawyerLawFirmLogo1RemovIcon {
  position: absolute;
  top: -19px;
  left: -29px;
  width: 319px;
  height: 319px;
  object-fit: contain;
  z-index: 1;
}
.laywers {
  width: 100%;
  background: linear-gradient(180deg, #373540, #16171b);
  overflow: hidden;
  /* line-height: normal;
  letter-spacing: normal; */
  /* text-align: center; */
  color: var(--color-white);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1000px) {
  .rectangleParent {
    flex-wrap: wrap;
  }
  .laywers {
    height: auto;
    min-height: 1357;
  }
}
@media screen and (max-width: 975px) {
  .bookForConsultation,
  .consultationFees,
  .introduction,
  .professionalQualification,
  .tertiaryEducation {
    font-size: var(--font-size-10xl);
  }
  .daveDuggal {
    font-size: var(--font-size-13xl);
    line-height: 22px;
  }
}
@media screen and (max-width: 450px) {
  .lawyers {
    font-size: var(--font-size-3xl);
  }
  .messageWrapper {
    flex: 1;
  }
  .lawyer {
    font-size: var(--font-size-3xl);
  }
  .dashboardWrapper {
    flex: 1;
  }
  .introduction,
  .lawyers1,
  .lawyers2 {
    font-size: var(--font-size-3xl);
  }
  .description {
    font-size: var(--font-size-lgi);
  }
  .tertiaryEducation {
    font-size: var(--font-size-3xl);
  }
  .bachelorOfLaws {
    font-size: var(--font-size-lgi);
  }
  .professionalQualification {
    font-size: var(--font-size-3xl);
  }
  .barristerAtLawAdmittedAsContainer {
    font-size: var(--font-size-lgi);
  }
  .consultationFees {
    font-size: var(--font-size-3xl);
  }
  .rm200PerHour {
    font-size: var(--font-size-lgi);
  }
  .bookForConsultation {
    font-size: var(--font-size-3xl);
  }
  .daveDuggal {
    font-size: var(--font-size-5xl);
    line-height: 17px;
  }
  .textContainer {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
}
